Current configuration : 2640 bytes
!
version 15.4
service timestamps debug datetime msec
service timestamps log datetime msec
service password-encryption
!
hostname SH2
!
boot-start-marker
boot-end-marker
!
aqm-register-fnf
!
enable secret 5 $1$Vef6$6mE2QBxSofr2AhpCHMW3H0
!
no aaa new-model
mmi polling-interval 60
no mmi auto-configure
no mmi pvc
mmi snmp-timeout 180
no ip icmp rate-limit unreachable
!
!
!
!
!
!
!
!


!
ip dhcp excluded-address 10.11.200.129 10.11.200.139
!
ip dhcp pool 220
 network 10.11.200.128 255.255.255.192
!
!
!
ip domain name pni.nist.gov
ip cef
no ipv6 cef
!
multilink bundle-name authenticated
!
!
!
!
!
!
!
!
username mheni password 7 13081F170505
!
redundancy
!
lldp run
!
ip tcp synwait-time 5
ip ssh version 2
ip ssh pubkey-chain
  username mheni
   key-hash ssh-rsa D5807D1F0EB74DCE22FDF0E33E8457B4
!
!
!
!
!
!
!
!
!
!
!
!
!
interface Loopback0
 ip address 2.2.2.2 255.255.255.255
!
interface Ethernet0/0
 no ip address
!
interface Ethernet0/0.30
 encapsulation dot1Q 30
 ip address 10.11.200.129 255.255.255.224
!
interface Ethernet0/0.40
 encapsulation dot1Q 40
 ip address 10.11.200.161 255.255.255.224
!
interface Ethernet0/1
 no ip address
 shutdown
!
interface Ethernet0/2
 ip address 10.11.200.197 255.255.255.252
!
interface Ethernet0/3
 ip address 10.11.200.206 255.255.255.252
!
interface Ethernet1/0
 no ip address
 shutdown
!
interface Ethernet1/1
 no ip address
 shutdown
!
interface Ethernet1/2
 no ip address
 shutdown
!
interface Ethernet1/3
 no ip address
 shutdown
!
interface Serial2/0
 no ip address
 shutdown
 serial restart-delay 0
!
interface Serial2/1
 no ip address
 shutdown
 serial restart-delay 0
!
interface Serial2/2
 no ip address
 shutdown
 serial restart-delay 0
!
interface Serial2/3
 no ip address
 shutdown
 serial restart-delay 0
!
interface Serial3/0
 no ip address
 shutdown
 serial restart-delay 0
!
interface Serial3/1
 no ip address
 shutdown
 serial restart-delay 0
!
interface Serial3/2
 no ip address
 shutdown
 serial restart-delay 0
!
interface Serial3/3
 no ip address
 shutdown
 serial restart-delay 0
!
!
router eigrp 1
 network 10.11.200.128 0.0.0.63
 network 10.11.200.128 0.0.0.31
 network 10.11.200.160 0.0.0.31
 network 10.11.200.196 0.0.0.3
 network 10.11.200.204 0.0.0.3
!
ip forward-protocol nd
!
!
no ip http server
no ip http secure-server
!
!
snmp-server community topoDiscovery RW
!
!
control-plane
!
!
!
!
!
!
!
!
line con 0
 exec-timeout 0 0
 privilege level 15
 logging synchronous
 stopbits 1
line aux 0
 exec-timeout 0 0
 privilege level 15
 logging synchronous
 stopbits 1
line vty 0 4
 exec-timeout 0 0
 logging synchronous
 login local
 transport input all
!
!
end
