Current configuration : 2621 bytes
!
version 15.4
service timestamps debug datetime msec
service timestamps log datetime msec
service password-encryption
!
hostname SH3
!
boot-start-marker
boot-end-marker
!
aqm-register-fnf
!
enable secret 5 $1$bszG$mRaVouji4NgnpNr0noNzG1
!
no aaa new-model
mmi polling-interval 60
no mmi auto-configure
no mmi pvc
mmi snmp-timeout 180
no ip icmp rate-limit unreachable
!
!
!
!
!
!
!
!


!
ip dhcp excluded-address 10.11.200.65 10.11.200.75
!
ip dhcp pool 225
 network 10.11.200.64 255.255.255.192
!
!
!
no ip domain lookup
ip domain name pni.nist.gov
ip cef
no ipv6 cef
!
multilink bundle-name authenticated
!
!
!
!
!
!
!
!
username mheni password 7 070229494000
!
redundancy
!
lldp run
!
ip tcp synwait-time 5
ip ssh version 2
ip ssh pubkey-chain
  username mheni
   key-hash ssh-rsa D5807D1F0EB74DCE22FDF0E33E8457B4
!
!
!
!
!
!
!
!
!
!
!
!
!
interface Loopback0
 ip address 3.3.3.3 255.255.255.255
!
interface Ethernet0/0
 no ip address
!
interface Ethernet0/0.50
 encapsulation dot1Q 50
 ip address 10.11.200.65 255.255.255.224
!
interface Ethernet0/0.60
 encapsulation dot1Q 60
 ip address 10.11.200.97 255.255.255.224
!
interface Ethernet0/1
 no ip address
 shutdown
!
interface Ethernet0/2
 ip address 10.11.200.205 255.255.255.252
!
interface Ethernet0/3
 ip address 10.11.200.201 255.255.255.252
!
interface Ethernet1/0
 no ip address
 shutdown
!
interface Ethernet1/1
 no ip address
 shutdown
!
interface Ethernet1/2
 no ip address
 shutdown
!
interface Ethernet1/3
 no ip address
 shutdown
!
interface Serial2/0
 no ip address
 shutdown
 serial restart-delay 0
!
interface Serial2/1
 no ip address
 shutdown
 serial restart-delay 0
!
interface Serial2/2
 no ip address
 shutdown
 serial restart-delay 0
!
interface Serial2/3
 no ip address
 shutdown
 serial restart-delay 0
!
interface Serial3/0
 no ip address
 shutdown
 serial restart-delay 0
!
interface Serial3/1
 no ip address
 shutdown
 serial restart-delay 0
!
interface Serial3/2
 no ip address
 shutdown
 serial restart-delay 0
!
interface Serial3/3
 no ip address
 shutdown
 serial restart-delay 0
!
!
router eigrp 1
 network 10.11.200.64 0.0.0.31
 network 10.11.200.96 0.0.0.31
 network 10.11.200.200 0.0.0.3
 network 10.11.200.204 0.0.0.3
!
ip forward-protocol nd
!
!
no ip http server
no ip http secure-server
!
!
snmp-server community topoDiscovery RW
!
!
control-plane
!
!
!
!
!
!
!
!
line con 0
 exec-timeout 0 0
 privilege level 15
 logging synchronous
 stopbits 1
line aux 0
 exec-timeout 0 0
 privilege level 15
 logging synchronous
 stopbits 1
line vty 0 4
 exec-timeout 0 0
 logging synchronous
 login local
 transport input all
!
!
end
